#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: var(--color-light-gray);
    
}

h1,
h2{
    font-family: var(--font-family-base);
    font-weight: bold;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 32px;
}

.button {
    height: 46px;
    background-color: var(--color-red);
    color: var(--color-light);
}

span {
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: 16px;
}
