:root {
    --color-light:#ffffff;
    --color-dark:#1A1A1A;
    --color-red:#E5133A;
    --color-dark-gray:#C6C6C6;
    --color-light-gray:#f4f4f4;
    --color-light-blue:#f0f5ff;

    --margin-y:30px;
    --padding-x:40px;

    --border: 1px solid var(--color-dark-gray);
    --border-radius:4px;
    
    --font-family-base:'Roboto', sans-serif;

}