html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url(./../fonts/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(./../fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light:#ffffff;
  --color-dark:#1A1A1A;
  --color-red:#E5133A;
  --color-dark-gray:#C6C6C6;
  --color-light-gray:#f4f4f4;
  --color-light-blue:#f0f5ff;
  --margin-y:30px;
  --padding-x:40px;
  --border: 1px solid var(--color-dark-gray);
  --border-radius:4px;
  --font-family-base:"Roboto", sans-serif;
  --transition-duration: 0.2s;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: var(--color-light-gray);
}

h1,
h2 {
  font-family: var(--font-family-base);
  font-weight: bold;
}

h1 {
  font-size: clamp(32px, 3.125vw, 60px);
}

h2 {
  font-size: clamp(20px, 1.6666666667vw, 32px);
}

.button {
  height: 46px;
  color: var(--color-light);
  border: 0;
  border-radius: var(--border-radius);
}

.red-button {
  background-color: var(--color-red);
}

.red-button:hover {
  background-color: rgb(241, 11, 11);
  transition-duration: var(--transition-duration);
}

span {
  font-family: var(--font-family-base);
  font-weight: bold;
  font-size: 16px;
}

select {
  border-left: 0;
  width: 140px;
}

input {
  width: 220px;
}

.input {
  height: 64px;
  border-color: var(--color-dark-gray);
}

select,
input {
  outline: 0;
  border-color: var(--color-red);
}

select,
input :focus {
  border-color: var(--color-red);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.background {
  background-color: var(--color-light-blue);
  width: 100%;
  height: 370px;
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 0px;
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  margin-block: 70px;
  position: relative;
  z-index: 2;
}

.converter {
  display: flex;
  background-color: var(--color-light);
  max-width: 900px;
  position: relative;
  z-index: 9999;
  padding: 40px 40px 30px 40px;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius);
  row-gap: 30px;
  text-wrap: pretty;
  margin: 40px;
}
.converter__header {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  row-gap: 30px;
  text-align: center;
}
.converter__body {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.converter__interface {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}
.converter__inputs-wrapper {
  width: 370px;
  height: 60px;
}
.converter__input {
  border: 0;
}
.converter__reverse-button {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  padding: 6px;
}
.converter__reverse-button:hover {
  background-color: var(--color-light-gray);
  transition-duration: var(--transition-duration);
}
.converter__footer {
  display: flex;
}
.converter__footer-rate-wrapper {
  width: 50%;
}
.converter__footer-button-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.converter__exchange-rate {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.converter__exchange-rate::after {
  content: url(./../images/info-circle.png);
}
.converter__submit-button {
  width: 370px;
}

@media (max-width: 990px) {
  .converter__interface {
    flex-direction: column;
    row-gap: 16px;
  }
  .converter__footer {
    flex-direction: column;
    row-gap: 16px;
  }
}
@media (max-width: 740px) {
  .converter {
    padding: 30px;
  }
  .converter__inputs-wrapper {
    width: 330px;
  }
  .converter__input {
    width: 180px;
  }
  .converter__select {
    width: 140px;
  }
  .converter__button {
    width: 222px;
  }
  .converter__footer {
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */